/*

  BASE

*/

a:active, a:focus, a:link, a:visited {
  color: #EFB8E2;
  transition: color 100ms ease;
}

a:hover {
  color: #FFC8F2;
}

body {
  box-sizing: border-box;
  position: relative;
}

html, body {
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

html {
  background: #1c2009;
  color: #ECFF38;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

p {
  margin: 0;
  padding: 0;
}



/*

  MODULES

*/

.viewer {
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
  padding: 24px 48px;
  position: relative;
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
  width: 100%;
}

.viewer .close-button {
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0;
  top: 0;
  width: 24px;
}

.viewer .close-button, .viewer .left-button, .viewer .right-button {
  cursor: pointer;
  display: block;
  padding: 0;
  position: absolute;
  text-align: center;
  transform: scale(0.9);
  transition: color 100ms ease, transform 100ms cubic-bezier(0.5,0,0.5,2);
}

.viewer .left-button {
  left: 0;
}

.viewer .left-button, .viewer .right-button {
  font-size: 48px;
  height: 100%;
  line-height: 96px;
  margin: -60px 0 0;
  top: 50%;
  width: 48px;
}

.viewer .close-button, .viewer .right-button {
  right: 0;
}

.viewer-caption {
  background-color: rgba(28, 32, 9, 0.9);
  border-bottom: 1px solid rgba(236, 255, 56, 0.5);
  box-sizing: border-box;
  display: block;
  font-size: 12px;
  height: auto;
  line-height: 18px;
  opacity: 0;
  padding: 12px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: opacity 100ms ease, transform 200ms ease-in-out;
  width: 100%;
}

.viewer-form {
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  text-align: center;
  transform: translateY(0);
  transition: transform 250ms ease-in-out;
  width: 100%;
}

.viewer-form-input {
  background: rgba(236, 255, 56, 0.1);
  border: 1px solid rgba(236, 255, 56, 0.5);
  box-shadow: 0 0 0 #ECFF38;
  margin: 12px auto;
  transition: border-color 150ms ease, box-shadow 150ms ease;
}

.viewer-form-input, .viewer-form-submit {
  -webkit-appearance: none;
  border-radius: 3px;
  color: #ECFF38;
  display: block;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding: 12px;
}

.viewer-form-submit {
  background: #283F12;
  border: none;
  margin: 0 auto;
  transition: background-color 100ms ease, padding 100ms ease;
}

.viewer-images {
  display: block;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: opacity 100ms ease, transform 200ms ease-in-out;
  width: 100%;
}

.viewer-images img {
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: absolute;
  transform: translateX(500%);
  transition: transform 250ms ease-in-out;
  width: 100%;
}

.viewer-pane {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transform: translateX(150%);
  transition: transform 200ms ease-in-out;
  width: 100%;
}



/*

  STATE

*/

.state-viewer-pane-active {
  transform: translateX(0);
}

.state-viewer-pane-active .viewer-caption {
  transform: translateY(0);
  transition-delay: 450ms;
}

.state-viewer-pane-active .viewer-caption, .state-viewer-pane-active .viewer-images {
  opacity: 1;
}

.state-viewer-pane-active .viewer-images {
  transition-delay: 200ms;
}

.viewer .close-button:hover {
  transform: scale(1);
}

.viewer-form[disabled] {
  transform: translateY(-200%);
}

.viewer-form-input:focus {
  border-color: #ECFF38;
  box-shadow: 0 1px 3px rgba(236, 255, 56, 0.5);
  outline: none;
}

.viewer-form-submit:focus, .viewer-form-submit:hover {
  outline: none;
  padding: 11px 12px 13px;
}

.viewer-form-submit:active {
  background-color: #203910;
  outline: none;
  padding: 16px 12px 8px;
}

.viewer-images .state-image-active {
  transform: translateX(0);
}



/*

  UTILITY

*/

.hidden {
  display: none !important;
}